<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.dal.mapper.ext.AppInterfaceLogExtMapper">

    <insert id="insertAppLog" parameterType="com.mini.dal.model.AppInterfaceLogDO">
        insert into b2b_app_interface_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="platform != null">
                platform,
            </if>
            <if test="parameter != null">
                parameter,
            </if>
            <if test="interfaceName != null">
                interface_name,
            </if>
            <if test="returnMsg != null">
              return_msg,
            </if>
            gmt_create
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="platform != null">
                #{platform,jdbcType=VARCHAR},
            </if>
            <if test="parameter != null">
                #{parameter,jdbcType=VARCHAR},
            </if>
            <if test="interfaceName != null">
                #{interfaceName,jdbcType=VARCHAR},
            </if>
            <if test="returnMsg != null">
                #{returnMsg,jdbcType=VARCHAR},
            </if>
              now()
        </trim>
    </insert>

</mapper>