<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.dal.mapper.ext.ClueTargetExtMapper">

    <select id="getClueTargetSeriesSummaryDao" parameterType="java.lang.Long" resultType="com.mini.dal.vo.dms.report.TargetSeriesSummaryVO">
        
        <![CDATA[

            SELECT
                ct.serie AS seriesId ,
                COUNT(ct.serie) AS seriesCount
            FROM
                `b2b_clue_target` ct
            WHERE
                ct.partner_id = #{partnerId}
            AND ct.serie > 0 AND ct.serie IS NOT NULL
            GROUP BY
                ct.serie
            ORDER BY
                seriesCount DESC
        
        ]]>
        
    </select>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into b2b_clue_target(user_id, partner_id, client_id, clue_id, model, serie, name)
        values
        <foreach collection="clueTargetDOList" item="target" index="index" separator=",">
            (#{target.userId,jdbcType=BIGINT}, #{target.partnerId,jdbcType=BIGINT}, #{target.clientId,jdbcType=BIGINT}, #{target.clueId,jdbcType=BIGINT}, #{target.model,jdbcType=BIGINT}, #{target.serie,jdbcType=BIGINT}, #{target.name,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
</mapper>