<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.dal.mapper.ext.PartnerExtMapper">
    <resultMap id="PartnerMap" type="com.mini.dal.model.PartnerDO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="corp_name" jdbcType="VARCHAR" property="corpName"/>
        <result column="corp_description" jdbcType="VARCHAR" property="corpDescription"/>
        <result column="account_balance" jdbcType="BIGINT" property="accountBalance"/>
        <result column="contacts_name" jdbcType="VARCHAR" property="contactsName"/>
        <result column="contacts_phone" jdbcType="VARCHAR" property="contactsPhone"/>
        <result column="fax" jdbcType="VARCHAR" property="fax"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="city_id" jdbcType="INTEGER" property="cityId"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
        <result column="provice_id" jdbcType="INTEGER" property="proviceId"/>
        <result column="detail_address" jdbcType="VARCHAR" property="detailAddress"/>
        <result column="credentials_imgs" jdbcType="VARCHAR" property="credentialsImgs"/>
        <result column="certificate_code" jdbcType="VARCHAR" property="certificateCode"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="store_imgs" jdbcType="VARCHAR" property="storeImgs"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="is_verify" jdbcType="TINYINT" property="isVerify"/>
        <result column="gmt_modified" jdbcType="VARCHAR" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="contract_imgs" jdbcType="VARCHAR" property="contractImgs"/>
        <result column="legal_cert_imgs" jdbcType="VARCHAR" property="legalCertImgs"/>
        <result column="corp_logo_imgs" jdbcType="VARCHAR" property="corpLogoImgs"/>
        <result column="enterprise_type" jdbcType="TINYINT" property="enterpriseType"/>
        <result column="loan_status" jdbcType="TINYINT" property="loanStatus"/>
    </resultMap>


    <sql id="Partner_List">
        id,corp_name,corp_description,account_balance,contacts_name,contacts_phone,fax,email,city_id,
        city_name,provice_id,detail_address,credentials_imgs,certificate_code,type,store_imgs,memo,
        status,is_verify,gmt_modified,gmt_create,contract_imgs,legal_cert_imgs,corp_logo_imgs,enterprise_type,loan_status
    </sql>

    <select id="getByPartnerId" parameterType="java.lang.Long" resultMap="PartnerMap">
        select
        <include refid="Partner_List"/>
        from b2b_partner where id = #{id,jdbcType=BIGINT}
    </select>

    <update id="updatePartnerById" parameterType="com.mini.dal.model.PartnerDO">
        update b2b_partner
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="corpName != null and corpName != '' ">
                corp_name = #{corpName,jdbcType=VARCHAR},
            </if>
            <if test="corpDescription != null and corpDescription != '' ">
                corp_description = #{corpDescription,jdbcType=VARCHAR},
            </if>
            <if test="accountBalance != null">
                account_balance = #{accountBalance,jdbcType=BIGINT},
            </if>
            <if test="contactsName != null and contactsName != '' ">
                contacts_name = #{contactsName,jdbcType=VARCHAR},
            </if>
            <if test="contactsPhone != null and contactsPhone != '' ">
                contacts_phone = #{contactsPhone,jdbcType=VARCHAR},
            </if>
            <if test="fax != null and fax != '' ">
                fax = #{fax,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != '' ">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=INTEGER},
            </if>
            <if test="cityName != null and cityName != '' ">
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="proviceId != null">
                provice_id = #{proviceId,jdbcType=INTEGER},
            </if>
            <if test="detailAddress != null and detailAddress != '' ">
                detail_address = #{detailAddress,jdbcType=VARCHAR},
            </if>
            <if test="credentialsImgs != null and credentialsImgs != '' ">
                credentials_imgs = #{credentialsImgs,jdbcType=VARCHAR},
            </if>
            <if test="certificateCode != null and certificateCode != '' ">
                certificate_code = #{certificateCode,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="storeImgs != null and storeImgs != '' ">
                store_imgs = #{storeImgs,jdbcType=VARCHAR},
            </if>
            <if test="memo != null and memo != '' ">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="isVerify != null">
                is_verify = #{isVerify,jdbcType=TINYINT},
            </if>
            <if test="contractImgs != null and contractImgs != '' ">
                contract_imgs = #{contractImgs,jdbcType=VARCHAR},
            </if>
            <if test="legalCertImgs != null and legalCertImgs != '' ">
                legal_cert_imgs = #{legalCertImgs,jdbcType=VARCHAR},
            </if>
            <if test="corpLogoImgs != null and corpLogoImgs != '' ">
                corp_logo_imgs = #{corpLogoImgs,jdbcType=VARCHAR},
            </if>
            gmt_modified = now()
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insert" parameterType="com.mini.dal.model.PartnerDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b2b_partner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="corpName != null">
                corp_name,
            </if>
            <if test="corpDescription != null">
                corp_description,
            </if>
            <if test="accountBalance != null">
                account_balance,
            </if>
            <if test="contactsName != null">
                contacts_name,
            </if>
            <if test="contactsPhone != null">
                contacts_phone,
            </if>
            <if test="fax != null">
                fax,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="cityName != null">
                city_name,
            </if>
            <if test="proviceId != null">
                provice_id,
            </if>
            <if test="detailAddress != null">
                detail_address,
            </if>
            <if test="credentialsImgs != null">
                credentials_imgs,
            </if>
            <if test="certificateCode != null">
                certificate_code,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="storeImgs != null">
                store_imgs,
            </if>
            <if test="memo != null">
                memo,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isVerify != null">
                is_verify,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="contractImgs != null">
                contract_imgs,
            </if>
            <if test="legalCertImgs != null">
                legal_cert_imgs,
            </if>
            <if test="corpLogoImgs != null">
                corp_logo_imgs,
            </if>
            gmt_create
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="corpName != null">
                #{corpName,jdbcType=VARCHAR},
            </if>
            <if test="corpDescription != null">
                #{corpDescription,jdbcType=VARCHAR},
            </if>
            <if test="accountBalance != null">
                #{accountBalance,jdbcType=BIGINT},
            </if>
            <if test="contactsName != null">
                #{contactsName,jdbcType=VARCHAR},
            </if>
            <if test="contactsPhone != null">
                #{contactsPhone,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                #{fax,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=INTEGER},
            </if>
            <if test="cityName != null">
                #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="proviceId != null">
                #{proviceId,jdbcType=INTEGER},
            </if>
            <if test="detailAddress != null">
                #{detailAddress,jdbcType=VARCHAR},
            </if>
            <if test="credentialsImgs != null">
                #{credentialsImgs,jdbcType=VARCHAR},
            </if>
            <if test="certificateCode != null">
                #{certificateCode,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="storeImgs != null">
                #{storeImgs,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="isVerify != null">
                #{isVerify,jdbcType=TINYINT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=VARCHAR},
            </if>
            <if test="contractImgs != null">
                #{contractImgs,jdbcType=VARCHAR},
            </if>
            <if test="legalCertImgs != null">
                #{legalCertImgs,jdbcType=VARCHAR},
            </if>
            <if test="corpLogoImgs != null">
                #{corpLogoImgs,jdbcType=VARCHAR},
            </if>
            now()
        </trim>
    </insert>

    <select id="findVerifyCorpByName" parameterType="java.lang.String" resultMap="PartnerMap">
        select
        <include refid="Partner_List"/>
        from b2b_partner where corp_name = #{corpName,jdbcType=VARCHAR}
        and is_verify = 20
        order by status asc
    </select>
</mapper>