<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.dal.mapper.ext.UserRoleExtMapper">

    <resultMap id="UserRoleMap" type="com.mini.dal.model.UserRoleDO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,role_code,role_name,status,gmt_modified,gmt_create
    </sql>

    <update id="updateRoleByUserId" parameterType="com.mini.dal.model.UserRoleDO">
        update b2b_user_role
        <set>
            <if test="roleCode != null">
                role_code = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            gmt_modified = now()
        </set>
        where user_id = #{userId,jdbcType=BIGINT} AND role_code !='visitor'
    </update>

    <select id="findRoleByUserId" parameterType="java.lang.Long" resultMap="UserRoleMap">
        select <include refid="Base_Column_List" /> from b2b_user_role
        where user_id = #{userId,jdbcType=BIGINT} and status = 1
    </select>

    <select id="findAdminByUserIds" parameterType="java.util.ArrayList" resultType="java.lang.Long">
        select user_id from b2b_user_role
        where status = 1 and user_id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
    
    <select id="countUserSaleManagerRole" parameterType="java.lang.Long" resultType="int">
        
        SELECT COUNT(1) FROM `b2b_user_role` ur WHERE ur.user_id = #{userId} AND ur.role_code = 'saleManager'
        
    </select>

    <delete id="deleteUserRole" parameterType="java.lang.Long">
      DELETE FROM b2b_user_role where user_id = #{userId} and role_code != 'visitor'
    </delete>

    <select id="findNotVistorRoleByUserId" parameterType="java.lang.Long" resultMap="UserRoleMap">
        select <include refid="Base_Column_List" /> from b2b_user_role
        where user_id = #{userId,jdbcType=BIGINT} and status = 1 AND role_code !='visitor'
    </select>

</mapper>