<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.dal.mapper.ext.UserExtMapper">

    <resultMap id="UserMap" type="com.mini.dal.model.UserDO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="cert_no" jdbcType="VARCHAR" property="certNo"/>
        <result column="cert_imgs" jdbcType="VARCHAR" property="certImgs"/>
        <result column="visiting_card_imgs" jdbcType="VARCHAR" property="visitingCardImgs"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="partner_id" jdbcType="BIGINT" property="partnerId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="is_verify" jdbcType="TINYINT" property="isVerify"/>
        <result column="invite_code" jdbcType="VARCHAR" property="inviteCode"/>
        <result column="out_invite_code" jdbcType="VARCHAR" property="outInviteCode"/>
        <result column="portrait_imgs" jdbcType="VARCHAR" property="portraitImgs"/>
        <result column="descri" jdbcType="VARCHAR" property="descri"/>
        <result column="attributes" jdbcType="VARCHAR" property="attributes"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="email_address" jdbcType="TIMESTAMP" property="emailAddress"/>
        <result column="trade_pwd" jdbcType="TIMESTAMP" property="tradePwd"/>
    </resultMap>

    <sql id="User_Column_List">
        id,login_name,user_name,real_name,cert_no,cert_imgs,visiting_card_imgs,country,mobile,password,sex,partner_id,status,is_verify,invite_code,
        out_invite_code,portrait_imgs,descri,attributes,gmt_modified,gmt_create,email_address,trade_pwd
    </sql>

    <select id="getByMobile" parameterType="java.lang.String" resultMap="UserMap">
        select
        <include refid="User_Column_List"/>
        from b2b_user where mobile = #{mobile,jdbcType=VARCHAR} and <![CDATA[ status<>-1 ]]>
    </select>

    <select id="getByLoginName" parameterType="java.lang.String" resultMap="UserMap">
        select
        <include refid="User_Column_List"/>
        from b2b_user where login_name = #{loginName,jdbcType=VARCHAR} and <![CDATA[ status<>-1 ]]>
    </select>

    <select id="getByUserId" parameterType="java.lang.Long" resultMap="UserMap">
        select
        <include refid="User_Column_List"/>
        from b2b_user where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insertUserDO" parameterType="com.mini.dal.model.UserDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b2b_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginName != null and loginName!='' ">
                login_name,
            </if>
            <if test="userName != null and userName!= '' ">
                user_name,
            </if>
            <if test="realName != null and realName!='' ">
                real_name,
            </if>
            <if test="certNo != null and certNo!='' ">
                cert_no,
            </if>
            <if test="certImgs != null and certImgs!='' ">
                cert_imgs,
            </if>
            <if test="visitingCardImgs != null and visitingCardImgs!= '' ">
                visiting_card_imgs,
            </if>
            <if test="country != null and country!= '' ">
                country,
            </if>
            <if test="mobile != null and mobile!='' ">
                mobile,
            </if>
            <if test="password != null and password != '' ">
                password,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="partnerId != null">
                partner_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isVerify != null">
                is_verify,
            </if>
            <if test="inviteCode != null and inviteCode!='' ">
                invite_code,
            </if>
            <if test="outInviteCode != null and outInviteCode!='' ">
                out_invite_code,
            </if>
            <if test="portraitImgs != null and portraitImgs!='' ">
                portrait_imgs,
            </if>
            <if test="descri != null and descri!='' ">
                descri,
            </if>
            <if test="attributes != null and attributes!='' ">
                attributes,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            gmt_create
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="loginName != null and loginName !='' ">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null and userName !='' ">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="realName != null and realName != '' ">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="certNo != null and certNo != '' ">
                #{certNo,jdbcType=VARCHAR},
            </if>
            <if test="certImgs != null and certImgs != '' ">
                #{certImgs,jdbcType=VARCHAR},
            </if>
            <if test="visitingCardImgs != null and visitingCardImgs!='' ">
                #{visitingCardImgs,jdbcType=VARCHAR},
            </if>
            <if test="country != null and country != '' ">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null and mobile != '' ">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != '' ">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null ">
                #{sex,jdbcType=TINYINT},
            </if>
            <if test="partnerId != null">
                #{partnerId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="isVerify != null">
                #{isVerify,jdbcType=TINYINT},
            </if>
            <if test="inviteCode != null and inviteCode != '' ">
                #{inviteCode,jdbcType=VARCHAR},
            </if>
            <if test="outInviteCode != null and outInviteCode != '' ">
                #{outInviteCode,jdbcType=VARCHAR},
            </if>
            <if test="portraitImgs != null and portraitImgs != '' ">
                #{portraitImgs,jdbcType=VARCHAR},
            </if>
            <if test="descri != null and descri != '' ">
                #{descri,jdbcType=VARCHAR},
            </if>
            <if test="attributes != null and attributes != '' ">
                #{attributes,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            now()
        </trim>
    </insert>

    <update id="updateByUserDO" parameterType="com.mini.dal.model.UserDO">
        update b2b_user
        <set>
            <if test="loginName != null and loginName != '' ">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null and userName != '' ">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="realName != null and realName != '' ">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="certNo != null  and certNo != '' ">
                cert_no = #{certNo,jdbcType=VARCHAR},
            </if>
            <if test="certImgs != null and certImgs != '' ">
                cert_imgs = #{certImgs,jdbcType=VARCHAR},
            </if>
            <if test="visitingCardImgs != null and visitingCardImgs != '' ">
                visiting_card_imgs = #{visitingCardImgs,jdbcType=VARCHAR},
            </if>
            <if test="country != null and country != '' ">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null and mobile != '' ">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != '' ">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="partnerId != null">
                partner_id = #{partnerId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="isVerify != null">
                is_verify = #{isVerify,jdbcType=TINYINT},
            </if>
            <if test="inviteCode != null and inviteCode != '' ">
                invite_code = #{inviteCode,jdbcType=VARCHAR},
            </if>
            <if test="outInviteCode != null and outInviteCode != '' ">
                out_invite_code = #{outInviteCode,jdbcType=VARCHAR},
            </if>
            <if test="portraitImgs != null and portraitImgs != '' ">
                portrait_imgs = #{portraitImgs,jdbcType=VARCHAR},
            </if>
            <if test="descri != null and descri != '' ">
                descri = #{descri,jdbcType=VARCHAR},
            </if>
            <if test="attributes != null and attributes != '' ">
                attributes = #{attributes,jdbcType=VARCHAR},
            </if>
            gmt_modified = now()
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <update id="updateTradePwdAndEmail" parameterType="com.mini.dal.model.UserDO">
        update b2b_user
        <set>
            <if test="tradePwd != null and tradePwd != '' ">
                trade_pwd = #{tradePwd,jdbcType=VARCHAR},
            </if>
            <if test="emailAddress != null and emailAddress != '' ">
                email_address = #{emailAddress,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="removePartner" parameterType="java.lang.Long">
        update b2b_user
        set partner_id = null
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findUserList" parameterType="com.mini.dal.model.UserPageDO" resultMap="UserMap">
        select
        <include refid="User_Column_List"/>
        from b2b_user where <![CDATA[ status<>-1 ]]>
        <if test="mobile != null and mobile != '' ">
            and mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName != '' ">
            and user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="realName != null and realName != '' ">
            and user_name = #{realName,jdbcType=VARCHAR}
        </if>
        <if test="partnerId != null  ">
            and partner_id = #{partnerId,jdbcType=INTEGER}
        </if>
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </select>

    <select id="countUserList" parameterType="com.mini.dal.model.UserPageDO" resultType="java.lang.Integer">
        select
        count(1)
        from b2b_user where <![CDATA[ status<>-1 ]]>
        <if test="mobile != null and mobile != '' ">
            and mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName != '' ">
            and user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="realName != null and realName != '' ">
            and user_name = #{realName,jdbcType=VARCHAR}
        </if>
        <if test="partnerId != null  ">
            and partner_id = #{partnerId,jdbcType=INTEGER}
        </if>
    </select>

    <select id="findCorpUsers" parameterType="java.lang.Long" resultMap="UserMap">
        select <include refid="User_Column_List"/>
        from b2b_user where <![CDATA[ status<>-1 ]]>
         and partner_id = #{partnerId,jdbcType=BIGINT}
    </select>
</mapper>