<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       "
       default-autowire="byName">

    <bean id="applicationsEnv" class="java.lang.String">
        <constructor-arg value="${applications.env}"/>
    </bean>
    <bean id="applicationsServiceUrl" class="java.lang.String">
        <constructor-arg value="${applications.service.url}"/>
    </bean>

    <bean id="senderName" class="java.lang.String">
        <constructor-arg value="${sender.name}"/>
    </bean>

    <bean id="senderPassword" class="java.lang.String">
        <constructor-arg value="${sender.password}"/>
    </bean>

    <bean id="host" class="java.lang.String">
        <constructor-arg value="${sender.host}"/>
    </bean>
</beans>

